<div class="container">
  <div class= "row">
    <div class="col-lg-6 mx-auto">
      <div class="card card border-primary mt-2">
        <div class="card-header text-center">
          <h4>select seat</h4>
        </div>
        <div class="card-body ">
          <div class="container">
          	<%= form_with model: @booking do |f| %>

	            <div class="text-center">
	            	<%= f.hidden_field :theater_id, value: @theater.id %>
	            	<%= f.hidden_field :movie_id, value: @movie.id %>
	            	<%= f.hidden_field :customer_id, :value =>current_customer.id %>
	            	<%= f.hidden_field :show_id, value: @show.id %>
	            	<% @theater.screens.each do |screen|%>
                  <%#= f.hidden_field :screen_id, value: screen.id %>
	                <% screen.seats.each do | seat| %>
	                   <% if seat.status == "true" %>
	                    <%= check_box_tag 'booking[seat_ids][]', seat.id %>
	                    <%= seat.seat_no %>
                     <% end %>
	                  
	                <% end %>
	              <% end %>
	            </div>
	            <div class="text-center mt-5">
	            	<%= f.submit "Book Seat", class:"btn btn-outline-success"%>
	            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
