<div class="container">
  <div class= "row">
    <div class="col-lg-12 mx-auto">
      <div class="card card border-sky mt-2">
        <div class="card-header ">
          <h5 class="font-monospace"><%= @movie.name %></h5>
          <div class="card-body">
            <div class="">
              <% @theaters.each  do |theater|%>
                <div class="card col-lg-12 shadow p-1 mb-2 bg-body-tertiary rounded">
                  <div class="card-body d-inline-flex">
                    <div class="w-50 ">
                      <p class=" px-10">
                        <%= theater.name %> - <%=theater.location%>
                      </p>
                    </div>
                    <div class="w-75 margin- 10 ">
                      <% theater.shows.where(movie_id: @movie.id).each do |show| %>
                        <%# <%= link_to show.show_time.strftime("%l:%M%p"), new_booking_path(booking: { movie_id: @movie.id, theater_id: theater.id, show_id: show.id,screen_id:show.screen_id }),class:"btn btn-outline-success d-inline-flex tooltiptext "
                         %>
                         <%= link_to show.show_time.strftime("%l:%M%p"), new_booking_path(booking: { show_id: show.id }),class:"btn btn-outline-success d-inline-flex tooltiptext " %> 
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="mt-4">
                <%=link_to "Back", movie_path(id:@movie.id), class:"btn btn-outline-primary" %> 
             </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>











